* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
 }
 .content {
     width: 1110px;
     margin-left: auto;
     margin-right: auto;
 }
 .header {
    background-color: #E6F0FF;
    position: relative;
    height: 100vh;
 }
 
 .row-header{
   display: flex;
   align-items: center;
   padding-top: 38px;
 }
 .row-header ul {
    display: flex;
    margin-left: 50px;
    gap: 30px;
 }
 .row-header .btn-header {
    margin-left: auto;
 }
 .row-header .item-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #4F5361;
 }
 .row-header .login-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #0F1B4C;
    margin-right: 18px;
 }
 
 .row-header .register-header {
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    text-align: center;
    background-color: #0F1B4C;
    border-radius: 8px;
    padding: 10px 20px;
 }
 .header-content {
    margin-top: 138px;
    width: 559px;
   
 }
 .header-content .decs-header1 {
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #687691;
 }
 .header-content .title-header {
    margin-top: 8px;
    font-weight: 700;
    font-size: 64px;
    line-height: 76px;
    color: #000336;
 }
 .header-content .decs-header2 {
    margin-top: 30px;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    letter-spacing: 0.01em;
    color: #687691;
 }
 .header-content .btn-content {
    margin-top: 40px;
 }
 .header-content .btn-inside {
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #0F1B4C;
    border-radius: 12px;
    padding: 15px 36px;
 }
 .img-house .house {
    position: absolute;
    bottom: 0;
    right: 65px;
 } 
 .client {
    margin-top: 122px;
 }
 .client .decs-client {
    margin-top: 23px;
 }
 .client .rate {
    margin-top: 18px;
 }
 .client .row-client {
    display: flex;
    align-items: center;
 }
 .client .review-client {
    margin-left: auto;
 }
 .client .logos {
    margin-top: 70px;
    display:flex;
    gap: 82px;
 }
 
 .work {
    margin-top: 80px;
 }
 .work .sell {
    margin: 0 auto;
    width: 685px;
    height: 427px;
 }
 .work .text-work {
    position: relative;
 
 }
 .work .title-work {
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
    text-align: center;
    color: #000339;
 }
 .work .title-work::before {
    content: "";
    position: absolute;
    top: -10px;
    left: 47%;
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
 }
 .work .row-sell {
    display: flex;
    gap: 140px;
 }
 .work .decs-work {
    margin: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    color: #5A6473;
 
 }
 .work .guides {
    margin-top: 70px;
    text-align: center;
 }
 .work .buy {
    margin-top: 26px;
 }
 .work .how {
    margin-top: 10px;
 }
 .work .guides-btn {
    margin-top: 50px;
    display: flex;
    justify-content: center;
 }
 .work .guides .how {
    color: #0689FF;
    font-weight: 600;
    font-size: 14px;
    line-height: 21px;
    text-align: center;
 }
 .work .btn-work {
    min-width: 170px;
    height: 50px;
    background: #0F1B4C;
    border-radius: 12px;
    padding: 15px 25px;
    font-weight: 500;
    font-size: 13px;
    text-align: center;
    color: #FFFFFF;
    
 }
 .feature01  {
    margin-top: 120px;
    background-color: #F5FAFE;
 }
 .feature01 .title-fea {
    padding-top: 110px;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
    color: #000339;
 }
 .row-feature .decs-fea {
    margin-top: 15px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    align-items: flex-end;
    color: #5A6473;
 }
 .row-feature .btn-fea{
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
    color: #0689FF;
 }
 .feature01 .row-feature {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
 }
 .img-feature {
    margin-top: 70px;
 }
 .img-feature .row-img {
    background: #FFFFFF;
    border-radius: 12px;
 }
 
 .feature01 .img-feature {
    display: flex;
    gap: 30px;
    padding-bottom: 110px;
 }
 .img-feature .title-house {
    margin-top: 17px;
    margin-left: 20px;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #000339;
 }
 .img-feature .decs-house {
    margin-left: 20px;
    margin-top: 11px;
    display:block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 21px;
    color: #A3A6AB;
 }
 .img-feature .icon-house {
    margin-top: 21px;
    display: flex;
    justify-content: baseline;
    margin-bottom: 25px;
 }
 .row-img .icon{
    margin-left: 20px;
 }
 .row-img .decs-icon {
    margin-left: 8px;
 }
 .feature02 {
    margin-top: 50px;
 }
 
 .feature02 .img-card {
    position: relative;
 }
 .feature02 .vector {
    margin-left: auto;
 }
 .card .row-fea02 {
    display: flex;
 }
 .feature02 .card{ 
    top: 75px;
    position: absolute;
    width: 239px;
    padding: 45px 22px 40px;
    border-radius: 0px 0px 12px 12px;
    background-color: #fff;
 }
 .card .title-fea02 {
    font-weight: 700;
    font-size: 26px;
    line-height: 26px;
    letter-spacing: 0.01em;
    color: #000339;
 }
 .card .decs-fea02 {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px; 
    color: #A7A7A7;
 }
 .feature02 .seperate {
    margin-top: 25px;
    width: 193px;
    height: 1.2px;
    background-color: #E9E9E9;
 }
 .feature02 .avatar-block {
    display: flex;
    flex-wrap: wrap;
    gap: 16px 14px;
    margin-top: 26px;
 }
 
 .feature02 .avatar-group {
    display: flex;
 }
 
 .feature02 .avatar {
    width: 16px;
    height: 16px;
    margin-left: -3px;
    object-fit: cover;
    border-radius: 50%;
 }
 
 .feature02 .avatar-1 {
    background: #1f3bb1;
    font-weight: 450;
    font-size: 0.7rem;
    line-height: 16px;
    text-align: center;
    letter-spacing: -0.02em;
    color: #ffffff;
 }
 
 .feature02 .img-block .image {
    display: block;
    margin-left: auto;
    width: 400px;
    height: 460px;
    border-radius: 12px;
    object-fit: cover;
 }
 .feature02 .row-fea022 {
    display: flex;
   
 }
 .feature02 .text-fea02 {
    margin-top: 135px;
    
 }
 
 .text-fea02 .subtitle-fea02 {
    position: relative;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 45px;
    color: #000339;
 }
 .text-fea02 .subtitle-fea02::before {
    position: absolute;
    top: -10px;
    content: "";
    width: 41px;
    height: 4px;
    background: #000339;
    border-radius: 12px;
 }
 .text-fea02 .decs-fea022 {
    display: inline-block;
    margin-top: 20px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #5A6473;
 }
 .count .row-count {
    margin-left: 75px;
    display:flex;
    justify-content: space-between;
 }
 .count .price {
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    color: #000000;
 }
 .count .seller {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
    margin-top: 22px;
    color: #7B8087;
 }
 
 .new {
    margin-top: 100px;
 }
 .new .content {
    position: relative;
    background-color:#063183;
    border-radius: 20px;
 }
 .new .subscribe {
    font-weight: 600;
    font-size: 35px;
    line-height: 35px;
    color: #FFFFFF;
 }
 .new .decs-new {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #FFFFFF;
    opacity: 0.75;
 }
 .new .btn-new {
    margin-top: 20px;
    display: inline-block;
    padding: 15px 43px;
    background: #FFFFFF;
    border-radius: 12px;
 }
 .new .box {
    padding: 110px 80px;
 }
 .new .mobile {
    position: absolute;
    bottom: -7px;
    right: 221px;
 }
 .footer {
    margin-top: 105px;
 }
 
 .footer .row-menu {
    display: flex;
    gap: 185px;
 }
 .footer .touch {
    padding-bottom: 42px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #1C1C1D;
 }
 .footer .link {
    white-space: nowrap;
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7A7A7E;
 }
 .footer .link1 {
    margin-bottom: 18px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #7A7A7E;
 }
 .footer .social {
    margin-top: 40px;
 }
 .footer .fb {
    padding: 8px 10.47px 8.47px 11px;
    background: #F9F9F9;
    
 }
 .footer .tw {
    margin-left: 16px;
    background: #F9F9F9;
    padding: 10px 8.59px 9.47px 8.59px;
 }
 .footer .in {
    margin-left: 16px;
    background: #F9F9F9;
    padding: 9px 9px 9.47px 8.47px;
 }
 .footer2 {
    margin-top: 80px;
    padding-bottom: 58px;
 }
 .footer2 .row-footer2 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
 }
 .footer2 .coppy {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #C2C2C2;   
 }